@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-background text-gray-800 antialiased overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-gray-900;
  }
}

.clay-card {
  @apply bg-white rounded-3xl p-6 relative;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.toy-card {
  @apply bg-white border-4 border-black rounded-2xl transition-transform active:translate-y-2 active:shadow-none;
  box-shadow: 6px 6px 0px 0px #000000;
}